{
  "plugins": ["prettier-plugin-svelte"],
  "printWidth": 100,
  "quoteProps": "consistent",
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": false,
  "overrides": [
    { "files": "*.svelte", "options": { "parser": "svelte" } },
    { "files": "**/rates.ts", "options": { "printWidth": 150 } }
  ]
}
